@charset "utf-8";
/* CSS Document */
HTML body {
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
}
.new-nav {
	display: flex;
	font-family: 'Bebas Neue', cursive;
	align-items: center;
	background-color: white;
	color: black;
}
.nav-item {
	padding-left: 20px;
	padding-right: 20px;
}
