{% extends "Base.html" %}
{% block title %}MY APP{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Welcome to the Buy and Sell Website!</h1>

<div class="center">
  <a href="/sign_up"><button class="block">New User? Sign up here.</button></a>
  <a href="/login"><button class="block">Have an account? Login here.</button></a>
</div>
{% endblock %}
47 126 246