<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Sell</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link href="{{ url_for('static', filename='FrontEnd.css')}}" rel="stylesheet" type="text/css">
  <script src="Buy.js"></script>
	<script type="text/javascript" src="test.json"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-expand-xl new-nav"> <!website navigation bar>
		<div class="row container-fluid">

			<div class="col-lg-3">
				<h2 style="color:black">Buy and Sell</h2>
			</div>

			<div class="col-lg-6 container-fluid d-flex justify-content-center">
				<ul class="nav">
					<li class="nav-item undone"><a href="/home">Home</a></li>
					<li class="nav-item active" data-toggle="tooltip" data-placement="bottom" title="Under Construction"><a href="/buy">Buy</a></li>
					<li class="nav-item undone" data-toggle="tooltip" data-placement="bottom" title="Under Construction"><a class="active" href="/sell">Sell</a></li>
				</ul>
			</div>

      <div class="col-lg-3">

        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
          <button onclick="searchItems" type="button" class="btn btn-outline-primary">search</button>
        </div>

      </div>
		</div>
	</nav>

  <div class="row container-fluid py-5 ">
<header>
<b><h1>Listing Details</h1></b>
</header> 

<body>

<div class="container">
<p> 
<form action="/html/tags/html_form_tag_action.cfm" method="get"> </p>
Title </p>
<input type="text" name="first_name" value="" maxlength="100" />
<br /> </p>

<p>
<label>Category
<select id="pickup_place" name="pickup_place">
<option value="" selected="selected">Select One</option>
<option value="Household" >Household</option>
<option value="Clothing" >Clothing</option>
<option value="Appliances" >Appliances</option>
</select>
</label> 
</p>

Description </p> 
<input type="text" name="first_name" value="" maxlength="100" />
<br /> </p>
Attach Photos </p> 
<input #imageInput accept="image/*" (change)="processFile(imageInput)" name="upload-photo" type="file" id="upload-photo" />

<br /> </p>
Price </p> 
<input type="text" name="last_name" value="" maxlength="100" /> </p> 
<input type="submit" value="Submit Listing!" /> 
</form>
</div>
<body/>

    </div>

  </div>



</html>