{% extends "Base.html" %}
{% block title %}MY APP - Sign Up{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<a href="/login">Have an account? Login here.</a><br>

<h1>Sign Up</h1>

<form action="#" method="POST">
    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="Enter Password"/><br>
    <label for="name">Seller Name:</label><br>
    <input type="text" name="name" placeholder="Enter Seller Name"/><br>
    <!-- <label for="email">Email:</label><br>
    <input type="email" name="email" placeholder="Enter Email"/><br> -->
    <input type="submit" value="submit"/><br>
</form>
{% endblock %}
